In [3]:
import numpy as np

In [93]:
# Sum of Dice With Probabilities Testing
# Reference: https://stackoverflow.com/questions/49946881/numpy-multiplication-table-ouptut

ten_sided_die = np.arange(1, 11)

In [94]:
ten_sided_die

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [95]:
ten_sided_die[:, None]

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]])

In [96]:
sample_space = ten_sided_die + ten_sided_die[:, None]

In [97]:
sample_space

array([[ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [ 4,  5,  6,  7,  8,  9, 10, 11, 12, 13],
       [ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
       [ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15],
       [ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
       [ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]])

In [98]:
sample_space.flatten()

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11,  3,  4,  5,  6,  7,  8,  9,
       10, 11, 12,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13,  5,  6,  7,  8,
        9, 10, 11, 12, 13, 14,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,  7,
        8,  9, 10, 11, 12, 13, 14, 15, 16,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 17,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14,
       15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [99]:
np.histogram(sample_space.flatten(), bins = np.arange(1, 21))

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10,  9,  8,  7,  6,  5,  4,
         3,  3], dtype=int64),
 array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20]))

In [100]:
import pandas as pd

pd.DataFrame(np.histogram(sample_space.flatten(), bins = np.arange(1, 21)))

   0  1  2  3  4  5  6  7  8   9  10  11  12  13  14  15  16  17  18    19
0  0  1  2  3  4  5  6  7  8   9  10   9   8   7   6   5   4   3   3   NaN
1  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20.0

In [101]:
sum_dice = pd.DataFrame(sample_space.flatten(), columns = ['Sum'])

In [102]:
sum_dice

    Sum
0     2
1     3
2     4
3     5
4     6
..  ...
95   16
96   17
97   18
98   19
99   20

[100 rows x 1 columns]

In [103]:
# Obtain counts of Sum of Dice

sum_dice['Sum'].value_counts()

11    10
10     9
12     9
13     8
9      8
14     7
8      7
15     6
7      6
16     5
6      5
17     4
5      4
18     3
4      3
3      2
19     2
20     1
2      1
Name: Sum, dtype: int64

In [105]:
# Sums by Probability

sum_two_dice = pd.DataFrame(sum_dice['Sum'].value_counts(normalize = True).sort_index())

In [106]:
sum_two_dice

     Sum
2   0.01
3   0.02
4   0.03
5   0.04
6   0.05
7   0.06
8   0.07
9   0.08
10  0.09
11  0.10
12  0.09
13  0.08
14  0.07
15  0.06
16  0.05
17  0.04
18  0.03
19  0.02
20  0.01

In [107]:
# Rename index:
sum_two_dice.index.name = "MP_Sum"

## Sum of 3 Dice

In [111]:
import pandas as pd
import numpy as np

In [112]:
# Sum of Dice With Probabilities Testing
# Reference: https://stackoverflow.com/questions/49946881/numpy-multiplication-table-ouptut

ten_sided_die = np.arange(1, 11)

In [113]:
sample_space = ten_sided_die + ten_sided_die[:, None] + ten_sided_die[:, None]

sample_space

array([[ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
       [ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
       [15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
       [17, 18, 19, 20, 21, 22, 23, 24, 25, 26],
       [19, 20, 21, 22, 23, 24, 25, 26, 27, 28],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]])

In [114]:
#Obtain Counts associated with sum of three MP dice
np.histogram(sample_space.flatten(), bins = np.arange(1, 21))

(array([ 0,  0,  1,  1,  2,  2,  3,  3,  4,  4,  5,  5,  5,  5,  5,  5,  5,
         5, 10], dtype=int64),
 array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20]))

In [115]:
# Create dataframe in pandas
sum_three_dice_df = pd.DataFrame(sum_three_dice.flatten(), columns = ['Sum'])

In [116]:
# Preview:
sum_three_dice_df.head()

   Sum
0    3
1    4
2    5
3    6
4    7

In [117]:
# Obtain probabilities of Sum of Dice

sum_dice_probs = sum_three_dice_df['Sum'].value_counts(normalize = True).sort_index()

sum_dice_probs

3     0.01
4     0.01
5     0.02
6     0.02
7     0.03
8     0.03
9     0.04
10    0.04
11    0.05
12    0.05
13    0.05
14    0.05
15    0.05
16    0.05
17    0.05
18    0.05
19    0.05
20    0.05
21    0.05
22    0.05
23    0.04
24    0.04
25    0.03
26    0.03
27    0.02
28    0.02
29    0.01
30    0.01
Name: Sum, dtype: float64

In [118]:
# Create dataframe:
probs_df = pd.DataFrame(sum_dice_probs)

In [119]:
# Rename column from Sum to Probability
probs_df = probs_df.rename(columns = {'Sum': 'Probability'})

In [120]:
# Rename index:
probs_df.index.name = "Sum"

In [121]:
# Add cumulative probability, probability of getting sum less than the number (index):
# Shift of 1 needed as you cannot roll less than 3 on 3 MP dice:

probs_df["Pr(Roll < Sum)"] = probs_df["Probability"].shift(1).cumsum()

In [122]:
probs_df

     Probability  Pr(Roll < Sum)
Sum
3           0.01             NaN
4           0.01            0.01
5           0.02            0.02
6           0.02            0.04
7           0.03            0.06
8           0.03            0.09
9           0.04            0.12
10          0.04            0.16
11          0.05            0.20
12          0.05            0.25
13          0.05            0.30
14          0.05            0.35
15          0.05            0.40
16          0.05            0.45
17          0.05            0.50
18          0.05            0.55
19          0.05            0.60
20          0.05            0.65
21          0.05            0.70
22          0.05            0.75
23          0.04            0.80
24          0.04            0.84
25          0.03            0.88
26          0.03            0.91
27          0.02            0.94
28          0.02            0.96
29          0.01            0.98
30          0.01            0.99

### Cartesian Product Method

In [ ]:
import numpy as np
import pandas as pd

In [130]:
# Sum all possible combinations on Mario Party triple dice
sample_space = [a + b + c for a in np.arange(1, 11) for b in np.arange(1, 11) for c in np.arange(1, 11)]

In [131]:
sample_space

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [141]:
# Convert into dataframe:

sums_df = pd.DataFrame(sample_space, columns = ["Sum"])

In [142]:
sums_df

     Sum
0      3
1      4
2      5
3      6
4      7
..   ...
995   26
996   27
997   28
998   29
999   30

[1000 rows x 1 columns]

In [155]:
# Obtain counts:

sum_probs_df = pd.DataFrame(sums_df['Sum'].value_counts(normalize = True).sort_index())

In [156]:
# Rename column & Index
sum_probs_df = sum_probs_df.rename(columns = {'Sum': 'Probability'})
# Rename index:
sum_probs_df.index.name = "Sum"

In [157]:
sum_probs_df

     Probability
Sum
3          0.001
4          0.003
5          0.006
6          0.010
7          0.015
8          0.021
9          0.028
10         0.036
11         0.045
12         0.055
13         0.063
14         0.069
15         0.073
16         0.075
17         0.075
18         0.073
19         0.069
20         0.063
21         0.055
22         0.045
23         0.036
24         0.028
25         0.021
26         0.015
27         0.010
28         0.006
29         0.003
30         0.001

In [158]:
# Add cumulative probability, probability of getting sum less than the number (index):
# Shift of 1 needed as you cannot roll less than 3 on 3 MP dice:

sum_probs_df["Pr(Roll < Sum)"] = sum_probs_df["Probability"].shift(1).cumsum()

In [159]:
sum_probs_df

     Probability  Pr(Roll < Sum)
Sum
3          0.001             NaN
4          0.003           0.001
5          0.006           0.004
6          0.010           0.010
7          0.015           0.020
8          0.021           0.035
9          0.028           0.056
10         0.036           0.084
11         0.045           0.120
12         0.055           0.165
13         0.063           0.220
14         0.069           0.283
15         0.073           0.352
16         0.075           0.425
17         0.075           0.500
18         0.073           0.575
19         0.069           0.648
20         0.063           0.717
21         0.055           0.780
22         0.045           0.835
23         0.036           0.880
24         0.028           0.916
25         0.021           0.944
26         0.015           0.965
27         0.010           0.980
28         0.006           0.990
29         0.003           0.996
30         0.001           0.999